body{
	font-family: frankling;
	background-color: #005883
}
h1{
	text-align:center;
	color: #b3b3b3
}
h2{
	color: #b3b3b3
}
h3{
	color: #ffffff
}
.divicion{
	background-color: #ffffff
}
.table{
	padding: 20px
}
.table1{
	padding: 50px
}